<div class="input-group">
    <input type="text"
        class="form-control"
        placeholder="Wpisz imię aby wyszukać..."
        @bind-value="nameToSearch" />

    <button 
        type="button" 
        @onclick="OnSearch"
        class="btn-success input-group-text">Wyszukaj</button>
</div>

@code {
    private string nameToSearch = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearchEmployees{ get; set; }

    private void OnSearch()
    {
        OnSearchEmployees.InvokeAsync(nameToSearch);
    }
}
