@using INVENTMAN.Entities
@inject NavigationManager NavigationManager
@if (items != null && items.Count > 0)
{
    @foreach (var item in items)
    {
       
        <tr>
            <td>@item.Name</td>
            <td>@item.Manufacturer?.Name</td>
            <td>@item.SerialNumber</td>
            <td>
                <button class="btn btn-secondary" @onclick="@(()=> EditItem(item.EquipmentId))">Edit</button>
            </td>
        </tr>
    }
}

@code {
    [Parameter]
    public List<Item> items { get; set; } = new List<Item>();

    public void EditItem(Guid itemId)
    {
        NavigationManager.NavigateTo($"/edititem/{itemId}");
    }
}
