@using INVENTMAN.Entities
@using INVENTMAN.UseCases.Equipment.Interfaces
@inject IEquipmentSearchUseCase EquipmentSearchUseCase

@code {
    private List<Item> items = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        items = (await EquipmentSearchUseCase.ExecuteAsync()).ToList();
    }

    [Parameter]
    public string searchPhrase { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();

        items = (await EquipmentSearchUseCase.ExecuteAsync(searchPhrase)).ToList();
    }

}

<table class="table">
    <thead>
        <tr>
            <th>Typ</th>
            <th>Producent</th>
            <th>Model</th>
            <th>Numer Seryjny</th>
            <th>Pracownik</th>
            <th>Akcje</th>

            </tr>
    </thead>
    <tbody>
        <InventoryListItemComponent items="@items"></InventoryListItemComponent>
    </tbody>
</table>