@using INVENTMAN.Entities
@using INVENTMAN.UseCases.Equipment.Interfaces
@inject IEquipmentSearchUseCase EquipmentSearchUseCase

@code {
    [Parameter]
    public List<Item> items { get; set; } = new();
}

<table class="table">
    <thead>
        <tr>
            <th>Typ</th>
            <th>Producent</th>
            <th>Model</th>
            <th>Numer Seryjny</th>
            <th>Pracownik</th>
            <th>Sprzedawca</th>
            <th>Numer faktury</th>
            <th>Akcje</th>

            </tr>
    </thead>
    <tbody>
        <InventoryListItemComponent items="items"></InventoryListItemComponent>
    </tbody>
</table>