@page "/edititem/{itemId:guid}"
@using INVENTMAN.Entities
@using INVENTMAN.UseCases.Inventory.Interfaces

@inject IEquipmentGetItemByIdUseCase EquipmentGetItemByIdUseCase
@inject NavigationManager NavigationManager
@inject IEquipmentEditUseCase EquipmentEditUseCase
@inject IToastService ToastService
@itemId

@code {
    [Parameter]
    public Guid itemId { get; set; } = Guid.NewGuid();

    public Item item { get; set; } = new Item();

    protected override async Task OnParametersSetAsync()
    {
        item = await EquipmentGetItemByIdUseCase.ExecuteAsync(itemId);

    }

    public async Task EditItem()
    {
        await EquipmentEditUseCase.ExecuteAsync(item);
        NavigationManager.NavigateTo("/Inventory");
        ToastService.ShowSuccess("Item edited sucessfully!");
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/Inventory");
        ToastService.ShowInfo("No items were modified!");

    }
}



<h3>Add Item</h3>
<br />
<EditForm Model="item" OnValidSubmit="EditItem">
    @*TODO: Walidacja wejść*@
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">Item name</label>
        <InputText id="name"
                   @bind-Value="item.Name"
                   class="form-control">
        </InputText>
    </div>

    <div class="form-group">
        <label for="sn">Serial Number</label>
        <InputText id="sn"
                   @bind-Value="item.SerialNumber"
                   class="form-control">
        </InputText>
    </div>

   @* <div class="form-group">
        <label for="vendor">Vendor</label>
        <InputText id="vendor"
                   @bind-Value="item.Vendor"
                   class="form-control">
        </InputText>
    </div>

    <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <InputText id="manufacturer"
                   @bind-Value="item.Manufacturer"
                   class="form-control">
        </InputText>
    </div>*@
    <br />
    <button type="submit"
            class="btn btn-primary">
        Edit item
    </button>

</EditForm>
<br />
<button type="button" class="btn btn-danger" @onclick="Cancel">Cancel</button>