@page "/equipment"
@using INVENTMAN.App.Components.Items
@using INVENTMAN.Entities
@using INVENTMAN.UseCases.Equipment.Interfaces

@inject IEquipmentSearchAdvancedUseCase EquipmentSearchAdvancedUseCase
@inject NavigationManager NavigationManager

@attribute [Authorize(Policy = "AllUsers")]

@code{
    public List<Item> items { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        items = (await EquipmentSearchAdvancedUseCase.ExecuteAsync(null, null, null, null, null, null, null, null)).ToList();
    }

    private async Task OnEquipmentSearch(ItemSearch itemSearch)
    {
        items = (await EquipmentSearchAdvancedUseCase.ExecuteAsync
        (
            state: itemSearch.SelectedState,
            type: itemSearch.SelectedType,
            name: itemSearch.Name,
            serialNumber: itemSearch.Sn,
            manufacturer: itemSearch.Man,
            employeeName: itemSearch.Emp,
            vendor: itemSearch.Ven,
            invoiceId: itemSearch.Invoice
        )).ToList();
    }

    private void AddItem()
    {
        NavigationManager.NavigateTo("/equipment/add");
    }

    
}


<PageTitle>Sprzęt</PageTitle>

<button class="btn btn-primary"
        type="button"
        @onclick="AddItem">
    Dodaj nowy przedmiot
</button>

<AdvancedSearchItemComponent OnItemSearchCallback="OnEquipmentSearch"></AdvancedSearchItemComponent>

<InventoryListComponent items="items">
</InventoryListComponent>





   
    

