@page "/add/manufacturer"
@using INVENTMAN.Entities
@using INVENTMAN.UseCases.Manufacturers.Interfaces

@inject IAddManufacturerUseCase AddManufacturerUseCase
@inject NavigationManager NavigationManager
@inject IToastService ToastService


@code {
    private Manufacturer manufacturer = new Manufacturer();

    private async Task AddManufacturer()
    {
        await AddManufacturerUseCase.ExecuteAsync(manufacturer);
        ToastService.ShowSuccess("Sucessfuly added a manufacturer!");
        NavigationManager.NavigateTo("/manufacturers");
    }
}

<h3>Dodaj producenta</h3>
<br />
<EditForm Model="manufacturer" OnValidSubmit="AddManufacturer">
    @*TODO: Walidacja wejść*@
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">Nazwa producenta</label>
        <InputText id="name"
                   @bind-Value="manufacturer.Name"
                   class="form-control">
        </InputText>
    </div>

    <div class="form-group">
        <label for="sn">Adres</label>
        <InputText id="sn"
                   @bind-Value="manufacturer.Adress"
                   class="form-control">
        </InputText>
    </div>
    <div class="form-group">
        <label for="sn">Email</label>
        <InputText id="sn"
                   @bind-Value="manufacturer.EmailAdress"
                   class="form-control">
        </InputText>
    </div>

    <br />
    <button type="submit"
            class="btn btn-primary">
        Dodaj producenta
    </button>

</EditForm>
