@page "/employees"
@using INVENTMAN.App.Components.Employees
@using INVENTMAN.Entities
@using INVENTMAN.UseCases.Employees.Interfaces

@inject ISearchEmployeeByNameUseCase SearchEmployeeByNameUseCas
@inject NavigationManager NavigationManager

@attribute [Authorize(Policy = "AllUsers")]

@code {


    public string searchPhrase { get; set; } = string.Empty;

    private void OnInventorySearch(string searchPhrase)
    {
        this.searchPhrase = searchPhrase;
    }

    private void AddEmployee()
    {
        NavigationManager.NavigateTo("/employees/add");
    }
}

<PageTitle>Pracownicy</PageTitle>
<SearchEmployeeComponent OnSearchEmployees="OnInventorySearch">
</SearchEmployeeComponent>

<EmployeeListComponent searchPhrase="@searchPhrase">
</EmployeeListComponent>
<br />

<button class="btn btn-primary"
        type="button"
        @onclick="AddEmployee">
    Dodaj pracownika
</button>





