<AuthorizeView>
    <Authorized>
        <a href="/identity/account/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/identity/account/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
