@page "/Inventory"
@using INVENTMAN.Entities
@using INVENTMAN.UseCases.Inventory.Interfaces

@inject IEquipmentSearchUseCase EquipmentSearchUseCase
@inject NavigationManager NavigationManager

@code{


    public string searchPhrase { get; set; } = string.Empty;

    private void OnInventorySearch(string searchPhrase)
    {
        this.searchPhrase = searchPhrase;
    }

    private void AddItem()
    {
        NavigationManager.NavigateTo("/additem");
    }
}

<PageTitle>Inventory Page</PageTitle>
<SearchInventoryComponent 
    OnSearchInventory="OnInventorySearch">
</SearchInventoryComponent>

<InventoryListComponent searchPhrase="@searchPhrase" >
</InventoryListComponent>
<br />

<button
    class="btn-primary"
    type="button"
    @onclick="AddItem"
    >Add Item</button>


   
    

